{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div id='tuition-results-block' class="tuition-results-block">
	{% for row in rows %}
		{% set tuition_cost = row.content['#row']._entity.field_tuition_cost.value %}
		{% set extra_fees = row.content['#row']._entity.field_additional_fees.value %}
		{% set total_cost = tuition_cost + extra_fees %}
		<div class="w-full lg:w-1/2 flex justify-around mx-auto">
			<table>
				<tr class="tuition-cost"><td class="tuition-thead"><strong>Tuition: </strong></td><td class="tuition-price">${{ tuition_cost|number_format(2) }}</td><td></td></tr>
				<tr class="extra-fees"><td class="tuition-thead"><strong>Additional fees: </strong></td><td class="tuition-price">${{ extra_fees|number_format(2) }}</td><td></td></tr>
				<tr class="tuition-total"><td class="tuition-thead"><strong>Total Estimated Cost: </strong></td><td class="tuition-price" style="padding-right:0;">${{ total_cost|number_format(2)  }}</td><td class="tuition-req"><span class="required-wrapper"><span class="required">*</span><span></td></tr>
			</table>
		</div>
	{% endfor %}
</div>
